<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stock">
            <h2><span>Stock</span> {{stock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{stock.name}}</span>
                </dd>
                <dt><span>Sku</span></dt>
                <dd>
                    <span>{{stock.sku}}</span>
                </dd>
                <dt><span>Item Id</span></dt>
                <dd>
                    <span>{{stock.itemId}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{stock.price}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{stock.quantity}}</span>
                </dd>
                <dt><span>Users</span></dt>
                <dd>
                    <div *ngIf="stock.usersId">
                        <a [routerLink]="['/users-ims', stock.usersId, 'view']">{{stock.usersId}}</a>
                    </div>
                </dd>
                <dt><span>User Group</span></dt>
                <dd>
                    <div *ngIf="stock.userGroupId">
                        <a [routerLink]="['/user-group-ims', stock.userGroupId, 'view']">{{stock.userGroupId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stock-ims', stock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
