<div>
    <h2 id="page-heading">
        <span>Order Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-items-ims" [routerLink]="['/order-items-ims/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Order Items
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Category</span></th>
            <th><span>Condition</span></th>
            <th><span>Price</span></th>
            <th><span>Quantity</span></th>
            <th><span>Vendor</span></th>
            <th><span>Status</span></th>
            <th><span>Receive Date</span></th>
            <th><span>Total Spending</span></th>
            <th><span>Currency</span></th>
            <th><span>Status Id</span></th>
            <th><span>Quantity In</span></th>
            <th><span>Quantity Out</span></th>
            <th><span>Notes</span></th>
            <th><span>Status</span></th>
            <th><span>Category</span></th>
            <th><span>Condition</span></th>
            <th><span>Names</span></th>
            <th><span>Order Items</span></th>
            <th><span>Users</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderItems of orderItems ;trackBy: trackId">
                <td><a [routerLink]="['/order-items-ims', orderItems.id, 'view' ]">{{orderItems.id}}</a></td>
                <td>{{orderItems.category}}</td>
                <td>{{orderItems.condition}}</td>
                <td>{{orderItems.price}}</td>
                <td>{{orderItems.quantity}}</td>
                <td>{{orderItems.vendor}}</td>
                <td>{{orderItems.status}}</td>
                <td>{{orderItems.receiveDate}}</td>
                <td>{{orderItems.totalSpending}}</td>
                <td>{{orderItems.currency}}</td>
                <td>{{orderItems.statusId}}</td>
                <td>{{orderItems.quantityIn}}</td>
                <td>{{orderItems.quantityOut}}</td>
                <td>{{orderItems.notes}}</td>
                <td>
                    <div *ngIf="orderItems.statusId">
                        <a [routerLink]="['../order-status-ims', orderItems.statusId , 'view' ]" >{{orderItems.statusId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderItems.categoryId">
                        <a [routerLink]="['../category-ims', orderItems.categoryId , 'view' ]" >{{orderItems.categoryId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderItems.conditionId">
                        <a [routerLink]="['../condition-ims', orderItems.conditionId , 'view' ]" >{{orderItems.conditionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderItems.namesId">
                        <a [routerLink]="['../prod-name-ims', orderItems.namesId , 'view' ]" >{{orderItems.namesId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderItems.orderItemsId">
                        <a [routerLink]="['../orders-ims', orderItems.orderItemsId , 'view' ]" >{{orderItems.orderItemsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderItems.usersId">
                        <a [routerLink]="['../stock-ims', orderItems.usersId , 'view' ]" >{{orderItems.usersId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-items-ims', orderItems.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-items-ims', orderItems.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-items-ims/'+ orderItems.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
