<div>
    <h2 id="page-heading">
        <span>Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders-ims" [routerLink]="['/orders-ims/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Orders
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderReferenceNumber"><span>Order Reference Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderDate"><span>Order Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="statusId"><span>Status Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="notes"><span>Notes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendorsId"><span>Vendors</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orders of orders ;trackBy: trackId">
                <td><a [routerLink]="['/orders-ims', orders.id, 'view' ]">{{orders.id}}</a></td>
                <td>{{orders.orderReferenceNumber}}</td>
                <td>{{orders.orderDate}}</td>
                <td>{{orders.name}}</td>
                <td>{{orders.statusId}}</td>
                <td>{{orders.notes}}</td>
                <td>
                    <div *ngIf="orders.vendorsId">
                        <a [routerLink]="['../vendors-ims', orders.vendorsId , 'view' ]" >{{orders.vendorsId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/orders-ims', orders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders-ims', orders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'orders-ims/'+ orders.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="orders && orders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
